POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

DEFAULT_GENERATION_STEPS=20
DEFAULT_GENERATION_CFG=5
DEFAULT_GENERATION_MODEL=
DEFAULT_GENERATION_SAMPLER="euler_ancestral"
DEFAULT_GENERATION_SCHEDULER="normal"
DEFAULT_GENERATION_WORKFLOW="base.json"
DEFAULT_COMFYUI_URL="http://discovery-ai-comfyui:8188"
DEFAULT_COMFYUI_WS="ws://discovery-ai-comfyui:8188/ws"
DEFAULT_COMFYUI_CLIENT_ID=
DEFAULT_SAFE_MODE_PROMPT=